.s4
{
    color: #9e0b77;
    font-size: 50px;
    
}  
.s5
{

  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 702;
  font-style: normal;
  color: hsl(333, 80%, 67%);
}
